# application
# https://directus.com/docs/configuration/general
SECRET=
PUBLIC_URL=


# storage
# https://directus.com/docs/configuration/files
STORAGE_LOCATIONS=
STORAGE_S3_DRIVER=
STORAGE_S3_KEY=
STORAGE_S3_SECRET=
STORAGE_S3_BUCKET=
STORAGE_S3_REGION=
STORAGE_S3_ENDPOINT=
STORAGE_S3_FORCE_PATH_STYLE=false
STORAGE_S3_ACL=


# extension
# https://directus.com/docs/configuration/extensions
EXTENSIONS_AUTO_RELOAD=true

# database
# https://directus.com/docs/configuration/database
DB_CLIENT=pg
## PG
# DB_CONNECTION_STRING=
DB_CONNECTION_STRING=postgresql://owner:pass@domain.com/dbname
DB_HEALTHCHECK_THRESHOLD=500

# preview
CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_SRC=
## custom
PUBLIC_VISUAL_EDITING_SECRET=

# cache
# https://directus.com/docs/configuration/cache
CACHE_ENABLED="true"
CACHE_STORE="memory"
CACHE_TTL="5m"
CACHE_AUTO_PURGE="true"
CACHE_SKIP_ALLOWED="true"
CACHE_STATUS_HEADER="X-Cache"
CACHE_VALUE_MAX_SIZE="250kb"

# email
# https://directus.com/docs/configuration/email
## smtp
EMAIL_VERIFY_SETUP=true
EMAIL_TRANSPORT=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_USER=
EMAIL_SMTP_PASSWORD=
EMAIL_SMTP_POOL=
EMAIL_SMTP_SECURE=
EMAIL_SMTP_NAME=
## template
EMAIL_FROM=

# resend
EMAIL_RESEND_API_KEY=

# brevo
EMAIL_BREVO_API_KEY=
EMAIL_BREVO_SMTP_KEY=


# frontstore_bundle extension
EXTENSION_FRONTSTORE_BUNDLE_ENDPOINT=
EXTENSION_FRONTSTORE_BUNDLE_FORMAT_PATH_ORDER="/order/{slug}"
EXTENSION_FRONTSTORE_BUNDLE_FORMAT_PATH_TEMPLATE="/template/{slug}"
EXTENSION_FRONTSTORE_BUNDLE_FORMAT_PATH_DOWNLOAD="/download/{slug}"
EXTENSION_FRONTSTORE_BUNDLE_BRAND=
