# application
# https://directus.com/docs/configuration/general
SECRET=""
PUBLIC_URL="http://localhost:8055"


# storage
# https://directus.com/docs/configuration/files
STORAGE_LOCATIONS=s3
STORAGE_S3_DRIVER=s3
STORAGE_S3_KEY=
STORAGE_S3_SECRET=
STORAGE_S3_BUCKET=
STORAGE_S3_REGION=auto
STORAGE_S3_ENDPOINT=
STORAGE_S3_FORCE_PATH_STYLE=false
STORAGE_S3_ACL=


# extension
# https://directus.com/docs/configuration/extensions
EXTENSIONS_AUTO_RELOAD=true

# database
# https://directus.com/docs/configuration/database
DB_CLIENT=pg
## PG
DB_CONNECTION_STRING=postgresql://owner:pass@domain.com/dbname
DB_HEALTHCHECK_THRESHOLD=500

# preview
CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_SRC="'self' http://localhost:3000"
## custom
PUBLIC_VISUAL_EDITING_SECRET="yHpkVG469H5152qVstNvsIAc3UVauDQ27jc3iNTsKwCkjKm04XKYzE6n7xt7HJbIXSDmSUgOyoO6NSg8tYoJk66Lgb9JU6CsstIR"

# cache
# https://directus.com/docs/configuration/cache
CACHE_ENABLED="true"
CACHE_STORE="memory"
CACHE_TTL="5m"
CACHE_AUTO_PURGE="true"
CACHE_STATUS_HEADER="X-Cache"
CACHE_VALUE_MAX_SIZE="250kb"

# email
## smtp
EMAIL_VERIFY_SETUP=true
EMAIL_TRANSPORT=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_USER=
EMAIL_SMTP_PASSWORD=
EMAIL_SMTP_POOL=
EMAIL_SMTP_SECURE=
EMAIL_SMTP_NAME=
## template
EMAIL_FROM="Name <email@email>"